<p id="notice"><%= notice %></p>

<p>
  <strong>Card Layout</strong>
</p>
<body>

      <tr>
        <p><strong>Focus</strong> <%= @spread[0].name %>
        <div><%= @spread[0].focus  %></div></p>

        <p><strong>Desire</strong> <%= @spread[1].name %>
        <div><%= @spread[1].desire  %></div></p>

        <p><strong>Outside Influences</strong> <%= @spread[2].name %>
        <div><%= @spread[2].outside_influences %></div></p>

        <p><strong>Inner Dialog</strong> <%= @spread[3].name %>
        <div><%= @spread[3].inner_dialog%></div></p>

        <p><strong>Challenges</strong> <%= @spread[4].name %>
        <div><%= @spread[4].challenges%></div></p>

        <p><strong>Insight</strong> <%= @spread[5].name %>
        <div><%= @spread[5].insight%></div></p>

        <p><strong>Meditation</strong> <%= @spread[6].name %>
        <div><%= @spread[6].meditation%></div></p>

        <p><strong>Resolution </strong><%= @spread[7].name %>
        <div><%= @spread[7].resolution%></div></p>
        

      

  </body>
